
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>nodeFeed</title>
    <link rel="stylesheet" type="text/css" href="/main.css">
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Lato|Sansita+One">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="/ahora.js"></script>
  </head>

  <body>
    <div id="wrapper">
      <header>
        <h1><span>Ahora.io</span></h1>
      </header>
      <div>
        <span id="client_count">0</span> connected clients
      </div>
    </div>
  </body>
</html>