
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>nodeFeed</title>
    <link rel="stylesheet" type="text/css" href="/main.css">
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Lato|Sansita+One">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="/ahora.js"></script>
  </head>
  <body>
    <div id="heading"><h1>Ahora.io</h1></div>
    <div id="footer">
      <p><span id="client_count">0</span> connected clients</p>
    </div>
  </body>
</html>