!!! 5
html(lang="en")
  head
    title datwebhook.com | song
    link(rel="stylesheet", type="text/css", href="/main.css")
    link(rel="stylesheet", type="text/css", href="http://fonts.googleapis.com/css?family=Lato|Sansita+One|Germania+One")
    script(type="text/javascript", src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js")
    script(type="text/javascript", src="/socket.io/socket.io.js")
    script(type="text/javascript")
      var dw_key = "#{key}";
    script(type="text/javascript", src="/ahora.js")
  body
    #wrapper
      header
        h1
          span
            dat dat
            | webhook
      #media= media
      footer
        span#client_count 0
        |  connected clients
