#logo {
    font-family: 'Germania One', cursive;
    color: black;
    text-align: center;
    font-size: 68px;
    font-weight: bold;
    margin-top: 70px;
    margin-bottom: 10px;
}

.dat {
    color: #C01212;
}

#tagline {
	margin-top: 20px;
    font-weight: bold;
    letter-spacing: 6px;
    opacity: 0.5;
}

#button_newhook {
    margin-top: 20px;
    margin-bottom: 40px;
}

#createdby {
    color: white;
    opacity: 0.3;
}

#navbar-wrap {
    max-width:981px;
    margin: 0 auto;
}​

/* Why does this need to be here in order for my .navbar style to apply? Crazy css. */
.navbar-inverse {
}

.navbar {
    margin-bottom: 0px;
}

.btn-primary {
    opacity: 0.9;
}

.hero-unit {
    background-color: white;
}

.hero-unit p {
    text-align: center;
}

body {
    font-family: 'Lato', cursive;
    text-align: center;
}

.navbar-fixed-bottom {
    color: #9C9C9C;
}

#footer-text {
    text-align: center;
    margin-top: 10px;
}

/* Page */

#url-bar {
    margin-top: 20px;
    /*background-color: #D3D3D3;*/
    /*display: inline-block;*/
}

#url-well {
    font-size: 20px;
}

.well {
    box-sizing: border-box;
}

#url-bar .btn {
    margin-top: 15px;
}

/* Action */

.action-container {
    padding-top: 10px;
}

#action-choose-bar .text {
    margin-top: 50px;
    font-size: 40px;
}

#action-choose-bar .btn-group {
    margin-bottom: 20px;
}

/* Cool off-white backgroung, maybe for later
html, body {
  background: #f4f5f5 url(/public/img/bg.png) no-repeat center 0;
}
*/
