#logo {
    font-family: 'Germania One', cursive;
    color: black;
    text-align: center;
    font-size: 60px;
    font-weight: bold;
    margin-top: 80px;
    margin-bottom: 10px;
}

#dat {
    color: #C01212;
}

#button_newhook {
    margin-top: 20px;
}

#createdby {
    color: #333;
}

#navbar-wrap {
    max-width:981px;
    margin: 0 auto;
}​

.hero-unit p {
    text-align: center;
}

body {
    font-family: 'Lato', cursive;
    text-align: center;
}

/* Cool off-white backgroung, maybe for later
html, body {
  background: #f4f5f5 url(/public/img/bg.png) no-repeat center 0;
}
*/
