h1 {
    font-family: 'Sansita One', cursive;
    color: white;
    text-align: center;
    font-size: 60px;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
    margin-top: 80px;
    margin-bottom: 10px;
}

body {
    font-family: 'Lato', cursive;
    text-align: center;
}

html, body {
  background: #f4f5f5 url(/public/images/bg.png) no-repeat center 0;
}