
.row
  #action-choose-bar.span10.offset1
    span.text On 
    span.dat.text POST
    span.text  this page will 
    span.btn-group
      a.btn.btn-large.dropdown-toggle(data-toggle="dropdown") Play Audio
        span.caret
      ul.dropdown-menu
        li Localize