
.row
  #url-bar.span10.offset1
    .row
      .span2
        .pull-right
          #btn-post.btn POST
      .span6#url-well.well= hook_url
      .span2
        #btn-copy.btn.btn-primary.pull-left Copy