extends layout

block content
  .hero-unit
    #logo
      span.dat dat
      | webhook
    p#tagline take back the webhook
    p
      a#button_newhook.btn.btn-large.btn-primary(href="/hook/new") +  Create a New Hook

block footerNav
  ul#bottom-nav.nav
    li
      #footer-text Que la fuerza te acompañe.