extends layout

block content
  .hero-unit
    #logo
      span.dat dat
      | webhook
    p#tagline take back the webhook
    p
      a#button_newhook.btn.btn-large.btn-primary(href="/h/new") +  Create a New Hook
