extends layout

block headAfter
  script(type="text/javascript", src="/js/hook.js")
  script(type="text/javascript", src="/js/ahora.js")
  script(type="text/javascript", src="/js/jquery.zclip.js")
  script(type="text/javascript")
    var hook_key = "#{hook_key}";

block content
  .hook-container
    include page/url
    hr
