extends layout

block headAfter
  script(type="text/javascript", src="/js/hook.js")
  script(type="text/javascript", src="/js/ahora.js")
  script(type="text/javascript", src="/js/jquery.zclip.js")
  script(type="text/javascript", src="/js/jquery.transit.js")
  script(type="text/javascript", src="/js/jquery.pulse.js")
  script(type="text/javascript", src="/js/jquery-ui-1.9.2.custom.min.js")
  script(type="text/javascript", src="http://malsup.github.com/jquery.form.js")
  script(type="text/javascript")
    var hook_key = "#{hook_key}";

block content
  .hook-container
    include page/url
    hr
  .action-container
    include page/action
    hr

block footerNav
  ul#bottom-nav.nav
    li
      a Hits: 
        span#hit-count= hit_count
    li
      a Last Hit: 
        span#last-hit= last_hit
    li
      a Listeners: 
        span#listener-count 2 
  //#footer-text Que la fuerza te acompañe.
