extends layout

block headAfter
  script(type="text/javascript")
    var dw_key = "#{key}";

block content
  #wrapper
    header
      h1
        span
          dat dat
          | webhook
    p Great! Now make an HTTP POST to this url..
    footer
      span#client_count 0
      |  connected clients
